body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Red Hat Mono', monospace;
  margin-left: 30px;
}

h1 {
  color: #61C9A8;
  font-size: 60px;
  margin-bottom: 0;
}

.letter {
  background-color: #ED9B40;
  width: 60px;
  height: 40px;
  margin: 20px;
  text-align: center;
  padding-top: 10px;
  box-shadow: 2px 2px 5px rgb(136, 132, 132);
  border-radius: 2px;
  color: #FFEEDB;
  font-size: 25px;
}

.letters_box {
  display: flex;
}
